<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org/DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.jqsoft.babyservice.mapper.system.AreaMapper">
    <resultMap id="AreaMap" type="com.jqsoft.babyservice.entity.system.Area">
        <result property="id" column="id"/>
        <result property="code" column="CODE"/>
        <result property="name" column="NAME"/>
        <result property="longCode" column="LONG_CODE"/>
        <result property="longName" column="LONG_NAME"/>
        <result property="pCode" column="P_CODE"/>
        <result property="pName" column="P_NAME"/>
        <result property="areaLevel" column="AREA_LEVEL"/>
        <result property="mnemonicCode" column="MNEMONIC_CODE"/>
        <result property="status" column="STATUS"/>
        <result property="remark" column="REMARK"/>
        <result property="remark2" column="REMARK2"/>
        <result property="remark3" column="REMARK3"/>
        <result property="updateTime" column="UPDATE_TIME"/>
        <result property="createTime" column="CREATE_TIME"/>
        <result property="isEnabled" column="IS_ENABLED"/>
    </resultMap>
    <resultMap id="AreaMap1" type="com.jqsoft.babyservice.entity.system.Area">
        <result property="code" column="CODE"/>
        <result property="name" column="NAME"/>
    </resultMap>


    <!--<select id="selectAreaByOrgId" parameterType="String" resultMap="AreaMap">
        SELECT SA.CODE,SA.NAME FROM t_area SA WHERE SA.CODE = (SELECT O.AREA FROM ORGANIZATION O WHERE O.ID = #{orgId,jdbcType=VARCHAR})
    </select>-->

    <!--<select id="queryAllPArea" parameterType="String" resultMap="AreaMap">
        <![CDATA[SELECT * FROM t_area WHERE AREA_LEVEL <> '0'  START WITH CODE = #{code,jdbcType=VARCHAR} CONNECT BY PRIOR P_CODE = CODE]]>
    </select>
-->

    <!--<select id="queryAreaPage" parameterType="map" resultMap="AreaMap">

        SELECT * FROM t_area sa
        <where>
            <if test="null != pCode and '' != pCode">
                AND sa.P_CODE = #{pCode}
            </if>
            <if test="null != code and '' != code">
                AND sa.CODE LIKE '%' || #{code} || '%'
            </if>
            <if test="null != name and '' != name">
                AND sa.NAME LIKE '%' || #{name} || '%'
            </if>
        </where>
        ORDER BY sa.UPDATE_TIME DESC,sa.CODE ASC

    </select>-->

    <!-- <update id="updateIsEnable"  parameterType="map">

     update t_area set IS_ENABLED = #{isEnabled}
           <if test="null != updateTime">
               ,UPDATE_TIME = #{updateTime}
           </if>
           where CODE IN (SELECT CODE FROM t_area  START WITH CODE = #{code} CONNECT BY PRIOR CODE = P_CODE)
     </update>-->


    <select id="selectAreaByPCode" parameterType="String" resultMap="AreaMap">
        SELECT * FROM t_area WHERE STATUS = '1' AND P_CODE = #{code} ORDER BY CODE ASC
    </select>

    <select id="selectAreaByCode" parameterType="String" resultMap="AreaMap">
        select * from t_area where code=#{code} and STATUS = '1'
    </select>

    <!--<select id="queryAreaByCodes" resultMap="AreaMap">
        SELECT * FROM t_area WHERE STATUS = '1' AND IS_ENABLED = '1' AND CODE IN
        <foreach collection="array" item="item" index="index" open="(" separator="," close=")">
            #{item}
        </foreach>
        ORDER BY CODE ASC
    </select>-->

</mapper>