<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jqsoft.babyservice.mapper.system.DictMapper">
    <resultMap id="BaseResultMap" type="com.jqsoft.babyservice.entity.system.Dict">
        <id column="ID" jdbcType="VARCHAR" property="id" />
        <result column="CODE" jdbcType="VARCHAR" property="code" />
        <result column="NAME" jdbcType="VARCHAR" property="name" />
        <result column="PID" jdbcType="VARCHAR" property="pid" />
        <result column="REMARK" jdbcType="VARCHAR" property="remark" />
        <result column="SORT" jdbcType="INTEGER" property="sort" />
        <result column="CONTENT" jdbcType="VARCHAR" property="content" />
    </resultMap>
    <sql id="Base_Column_List">
    ID, CODE, NAME, PID, REMARK, SORT, CONTENT
  </sql>
    <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List" />
        from t_dict
        where ID = #{id,jdbcType=VARCHAR}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from t_dict
    where ID = #{id,jdbcType=VARCHAR}
  </delete>
    <insert id="insert" parameterType="com.jqsoft.babyservice.entity.system.Dict">
    insert into t_dict (ID, CODE, NAME, 
      PID, REMARK, SORT, 
      CONTENT)
    values (#{id,jdbcType=VARCHAR}, #{code,jdbcType=VARCHAR}, #{name,jdbcType=VARCHAR}, 
      #{pid,jdbcType=VARCHAR}, #{remark,jdbcType=VARCHAR}, #{sort,jdbcType=INTEGER}, 
      #{content,jdbcType=VARCHAR})
  </insert>
    <insert id="insertSelective" parameterType="com.jqsoft.babyservice.entity.system.Dict">
        insert into t_dict
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                ID,
            </if>
            <if test="code != null">
                CODE,
            </if>
            <if test="name != null">
                NAME,
            </if>
            <if test="pid != null">
                PID,
            </if>
            <if test="remark != null">
                REMARK,
            </if>
            <if test="sort != null">
                SORT,
            </if>
            <if test="content != null">
                CONTENT,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=VARCHAR},
            </if>
            <if test="code != null">
                #{code,jdbcType=VARCHAR},
            </if>
            <if test="name != null">
                #{name,jdbcType=VARCHAR},
            </if>
            <if test="pid != null">
                #{pid,jdbcType=VARCHAR},
            </if>
            <if test="remark != null">
                #{remark,jdbcType=VARCHAR},
            </if>
            <if test="sort != null">
                #{sort,jdbcType=INTEGER},
            </if>
            <if test="content != null">
                #{content,jdbcType=VARCHAR},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.jqsoft.babyservice.entity.system.Dict">
        update t_dict
        <set>
            <if test="code != null">
                CODE = #{code,jdbcType=VARCHAR},
            </if>
            <if test="name != null">
                NAME = #{name,jdbcType=VARCHAR},
            </if>
            <if test="pid != null">
                PID = #{pid,jdbcType=VARCHAR},
            </if>
            <if test="remark != null">
                REMARK = #{remark,jdbcType=VARCHAR},
            </if>
            <if test="sort != null">
                SORT = #{sort,jdbcType=INTEGER},
            </if>
            <if test="content != null">
                CONTENT = #{content,jdbcType=VARCHAR},
            </if>
        </set>
        where ID = #{id,jdbcType=VARCHAR}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.jqsoft.babyservice.entity.system.Dict">
    update t_dict
    set CODE = #{code,jdbcType=VARCHAR},
      NAME = #{name,jdbcType=VARCHAR},
      PID = #{pid,jdbcType=VARCHAR},
      REMARK = #{remark,jdbcType=VARCHAR},
      SORT = #{sort,jdbcType=INTEGER},
      CONTENT = #{content,jdbcType=VARCHAR}
    where ID = #{id,jdbcType=VARCHAR}
  </update>

    <select id="getDictListByCode" resultMap="BaseResultMap">
        SELECT
        <include refid="Base_Column_List" />
        FROM
        t_dict a
        WHERE
        EXISTS (
        SELECT
        1
        FROM
        t_dict b
        WHERE
        a.PID = b.id
        AND b. CODE = #{code,jdbcType=VARCHAR}
        )
        ORDER BY a.SORT
    </select>
    <select id="getDictListById" resultMap="BaseResultMap">
        SELECT
        <include refid="Base_Column_List" />
        FROM
        t_dict a
        WHERE id=#{id}
    </select>
</mapper>