<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jqsoft.babyservice.mapper.biz.ExaminationInfoMapper">
  <resultMap id="BaseResultMap" type="com.jqsoft.babyservice.entity.biz.ExaminationInfo">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="corpid" jdbcType="VARCHAR" property="corpid" />
    <result column="baby_id" jdbcType="BIGINT" property="babyId" />
    <result column="examination_date" jdbcType="DATE" property="examinationDate" />
    <result column="examination_type" jdbcType="TINYINT" property="examinationType" />
    <result column="examination_item" jdbcType="VARCHAR" property="examinationItem" />
    <result column="old_examination_date" jdbcType="DATE" property="oldExaminationDate" />
    <result column="delay_reason" jdbcType="VARCHAR" property="delayReason" />
    <result column="overdue_days" jdbcType="SMALLINT" property="overdueDays" />
    <result column="ding_times" jdbcType="SMALLINT" property="dingTimes" />
    <result column="sign_in" jdbcType="TINYINT" property="signIn" />
    <result column="confirm" jdbcType="TINYINT" property="confirm" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="name" jdbcType="VARCHAR" property="babyName" />
    <result column="birthday" jdbcType="DATE" property="birthday" />
  </resultMap>
  <sql id="Base_Column_List">
    id, corpid, baby_id, examination_date, examination_type, examination_item, old_examination_date,
    delay_reason, overdue_days, ding_times, sign_in, confirm, create_time,
    update_time
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from biz_examination_info
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from biz_examination_info
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.jqsoft.babyservice.entity.biz.ExaminationInfo">
    insert into biz_examination_info (id, corpid, baby_id,
      examination_date, examination_type, examination_item,
      old_examination_date, delay_reason, overdue_days,
      ding_times, sign_in, confirm,
      create_time, update_time)
    values (#{id,jdbcType=BIGINT}, #{corpid,jdbcType=VARCHAR}, #{babyId,jdbcType=BIGINT},
      #{examinationDate,jdbcType=DATE}, #{examinationType,jdbcType=TINYINT}, #{examinationItem,jdbcType=VARCHAR},
      #{oldExaminationDate,jdbcType=DATE}, #{delayReason,jdbcType=VARCHAR}, #{overdueDays,jdbcType=SMALLINT},
      #{dingTimes,jdbcType=SMALLINT}, #{signIn,jdbcType=TINYINT}, #{confirm,jdbcType=TINYINT},
      #{createTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.jqsoft.babyservice.entity.biz.ExaminationInfo">
    insert into biz_examination_info
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="corpid != null">
        corpid,
      </if>
      <if test="babyId != null">
        baby_id,
      </if>
      <if test="examinationDate != null">
        examination_date,
      </if>
      <if test="examinationType != null">
        examination_type,
      </if>
      <if test="examinationItem != null">
        examination_item,
      </if>
      <if test="oldExaminationDate != null">
        old_examination_date,
      </if>
      <if test="delayReason != null">
        delay_reason,
      </if>
      <if test="overdueDays != null">
        overdue_days,
      </if>
      <if test="dingTimes != null">
        ding_times,
      </if>
      <if test="signIn != null">
        sign_in,
      </if>
      <if test="confirm != null">
        confirm,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="corpid != null">
        #{corpid,jdbcType=VARCHAR},
      </if>
      <if test="babyId != null">
        #{babyId,jdbcType=BIGINT},
      </if>
      <if test="examinationDate != null">
        #{examinationDate,jdbcType=DATE},
      </if>
      <if test="examinationType != null">
        #{examinationType,jdbcType=TINYINT},
      </if>
      <if test="examinationItem != null">
        #{examinationItem,jdbcType=VARCHAR},
      </if>
      <if test="oldExaminationDate != null">
        #{oldExaminationDate,jdbcType=DATE},
      </if>
      <if test="delayReason != null">
        #{delayReason,jdbcType=VARCHAR},
      </if>
      <if test="overdueDays != null">
        #{overdueDays,jdbcType=SMALLINT},
      </if>
      <if test="dingTimes != null">
        #{dingTimes,jdbcType=SMALLINT},
      </if>
      <if test="signIn != null">
        #{signIn,jdbcType=TINYINT},
      </if>
      <if test="confirm != null">
        #{confirm,jdbcType=TINYINT},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.jqsoft.babyservice.entity.biz.ExaminationInfo">
    update biz_examination_info
    <set>
      <if test="corpid != null">
        corpid = #{corpid,jdbcType=VARCHAR},
      </if>
      <if test="babyId != null">
        baby_id = #{babyId,jdbcType=BIGINT},
      </if>
      <if test="examinationDate != null">
        examination_date = #{examinationDate,jdbcType=DATE},
      </if>
      <if test="examinationType != null">
        examination_type = #{examinationType,jdbcType=TINYINT},
      </if>
      <if test="examinationItem != null">
        examination_item = #{examinationItem,jdbcType=VARCHAR},
      </if>
      <if test="oldExaminationDate != null">
        old_examination_date = #{oldExaminationDate,jdbcType=DATE},
      </if>
      <if test="delayReason != null">
        delay_reason = #{delayReason,jdbcType=VARCHAR},
      </if>
      <if test="overdueDays != null">
        overdue_days = #{overdueDays,jdbcType=SMALLINT},
      </if>
      <if test="dingTimes != null">
        ding_times = #{dingTimes,jdbcType=SMALLINT},
      </if>
      <if test="signIn != null">
        sign_in = #{signIn,jdbcType=TINYINT},
      </if>
      <if test="confirm != null">
        confirm = #{confirm,jdbcType=TINYINT},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.jqsoft.babyservice.entity.biz.ExaminationInfo">
    update biz_examination_info
    set corpid = #{corpid,jdbcType=VARCHAR},
      baby_id = #{babyId,jdbcType=BIGINT},
      examination_date = #{examinationDate,jdbcType=DATE},
      examination_type = #{examinationType,jdbcType=TINYINT},
      examination_item = #{examinationItem,jdbcType=VARCHAR},
      old_examination_date = #{oldExaminationDate,jdbcType=DATE},
      delay_reason = #{delayReason,jdbcType=VARCHAR},
      overdue_days = #{overdueDays,jdbcType=SMALLINT},
      ding_times = #{dingTimes,jdbcType=SMALLINT},
      sign_in = #{signIn,jdbcType=TINYINT},
      confirm = #{confirm,jdbcType=TINYINT},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=BIGINT}
  </update>
  <select id="myExaminationInfo" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from biz_examination_info a
    where a.baby_id = #{babyId,jdbcType=BIGINT}
    order by a.examination_type
  </select>
  <insert id="batchInsert" parameterType="java.util.List">
    insert into biz_examination_info (id, corpid, baby_id,
      examination_date, examination_type, examination_item,
      old_examination_date, delay_reason, overdue_days,
      ding_times, sign_in, confirm,
      create_time, update_time)
    values
      <foreach collection="infos" item="item" separator=",">
        (#{item.id,jdbcType=BIGINT}, #{item.corpid,jdbcType=VARCHAR}, #{item.babyId,jdbcType=BIGINT},
        #{item.examinationDate,jdbcType=DATE}, #{item.examinationType,jdbcType=TINYINT}, #{item.examinationItem,jdbcType=VARCHAR},
        #{item.oldExaminationDate,jdbcType=DATE}, #{item.delayReason,jdbcType=VARCHAR}, #{item.overdueDays,jdbcType=SMALLINT},
        #{item.dingTimes,jdbcType=SMALLINT}, #{item.signIn,jdbcType=TINYINT}, #{item.confirm,jdbcType=TINYINT},
        #{item.createTime,jdbcType=TIMESTAMP}, #{item.updateTime,jdbcType=TIMESTAMP})
      </foreach>
  </insert>
  <select id="getNeedRemindExaminationInfoList" resultMap="BaseResultMap">
      SELECT
          a.*,
          b.NAME,
          b.birthday,
          (select GROUP_CONCAT(c.userid) from biz_user_info c where c.id = b.parent_id or c.mobile = b.father_mobile or c.mobile = b.mother_mobile) userid
      FROM
          biz_examination_info a,
          biz_baby_info b
      WHERE
          a.baby_id = b.id
          AND a.sign_in = 0
          AND datediff( CURRENT_DATE, a.examination_date ) IN ( - 1, 0, 1, 3, 6 )
          limit ${offset},${size}
  </select>
  <update id="examinationConfirmByNewsId" parameterType="java.lang.Long">
        update biz_examination_info a
        set a.confirm = 1
        where EXISTS(select 1 from biz_remind_news b where b.examination_id = a.id and b.id = #{id,jdbcType=BIGINT})
  </update>
  <select id="applyDelay" resultType="java.util.Map">
    SELECT
        a.NAME,
        b.examination_type examinationType，
        b.id examinationId
    FROM
        biz_baby_info a,
        biz_examination_info b,
        biz_remind_news c
    WHERE
        c.id = #{newsId,jdbcType=BIGINT}
        AND c.examination_id = b.id
        AND b.baby_id = a.id
        limit 1
  </select>
</mapper>