<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jqsoft.nposervice.mapper.system.FileMapper">

    <resultMap id="fileMap" type="com.jqsoft.nposervice.entity.system.FileEntity">
        <result property="fileSize" column="f_size"/>
    </resultMap>

    <select id="selectByRecordIdAndType" resultMap="fileMap">
        select * from t_file where record_id = #{recordId}
        <if test="type != null">
            and type = #{type,jdbcType=TINYINT}
        </if>
        order by upload_time asc
    </select>


    <insert id="saveBatch" parameterType="list">
        INSERT INTO t_file(id, app, name,extension, path, f_size,upload_time,record_id,type,space_id,file_id)
        VALUES
        <foreach collection="list" item="item" index="index" separator=",">
            (#{item.id},#{item.app},#{item.name},#{item.extension},#{item.path},
            #{item.fileSize},#{item.uploadTime,jdbcType=TIMESTAMP},#{item.recordId},
            #{item.type,jdbcType=TINYINT},#{item.spaceId},#{item.fileId})
        </foreach>
    </insert>

</mapper>