<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jqsoft.babyservice.mapper.biz.OrgNoticeMapper">

    <select id="selectNoticeById" resultType="com.jqsoft.babyservice.entity.biz.NoticeInfo">
        SELECT
        bni.*
        FROM
        biz_notice_info bni
        WHERE
        bni.org_id = #{orgId}
        AND
        bni.type = 1
        <if test="param.noticeId != null and '' != param.noticeId">
        and bni.id = #{param.noticeId}
    </if>
        order by bni.create_time desc
        limit #{offset},#{size}
    </select>

    <update id="publishNoticeById" parameterType="map">
        UPDATE biz_notice_info SET state=#{state},publish=#{publish} where ID=#{noticeId}
    </update>

    <insert id="saveNotice" parameterType="com.jqsoft.babyservice.entity.biz.NoticeInfo">
        INSERT INTO biz_notice_info (id,org_id,type,title,context,state,
                                        <if test="null != publish">
                                            publish,
                                        </if>
                                        create_time,update_time)
        VALUES (#{id},#{orgId},#{type},#{title},#{context},#{state},
                    <if test="null != publish">
                        #{publish},
                    </if>
                    #{createTime},#{updateTime})
        ON DUPLICATE KEY UPDATE
                    title=#{title},
                    context=#{context},
                    state=#{state},
                    <if test="null != publish">
                        publish=#{publish},
                    </if>
                    update_time=#{updateTime}

    </insert>

    <update id="updateNotice" parameterType="com.jqsoft.babyservice.entity.biz.NoticeInfo">
        UPDATE biz_notice_info SET
        title=#{title},
        context=#{context},
        state=#{state},
        <if test="null != publish and '' != publish">
            publish=#{publish},
        </if>
        update_time=#{updateTime}
        where id=#{id}
    </update>

    <delete id="deleteNotice" parameterType="string">
        delete FROM  biz_notice_info  where id=#{id};
    </delete>

    <delete id="deleteFile" parameterType="string">
        delete FROM  t_file where id=#{id}
    </delete>

</mapper>